

:root {
    --body-bg-color: #ffffff;
    --purple: #00d9ff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }



  


  html,body {
    font-family: "Poppins", sans-serif;
  
  
  
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c32ae88-0de0-4786-b0a1-7725bf40f57d/dfby8tz-7b2d654e-024c-4184-acf6-a0a4b1004b2b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNjMzJhZTg4LTBkZTAtNDc4Ni1iMGExLTc3MjViZjQwZjU3ZFwvZGZieTh0ei03YjJkNjU0ZS0wMjRjLTQxODQtYWNmNi1hMGE0YjEwMDRiMmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7IBXgq3m4u0LSQugtzT9hn3L7PF2w_6S0P-Kc7PKxRk)
  }
  
  
  a{
      font-size: large;
  
      background-image: linear-gradient(
  
  
      rgb(255, 67, 67),
      rgb(118, 94, 255)
  
      )   ;
  
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
  
  
  
  
  }
  
  .container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .tree-container {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
  }
  
  .tree-container .avatar {
    width: 213px;
    height: 213px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 1px solid var();
    border-radius: 50%;
  }
  
  .tree-container .avatar img {
    width: 200px;
    height: 200px;
  
    border-radius: 50%;
  }
  
  .tree-container .instagram-user {
    margin-top: 15px;
    color: var(--purple);
  }
  
  .tree-container .links-container {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .links-container .link {
    margin-top: 16px;
    width: 325px;
  
    border: 2px solid var(--purple);
    border-radius: 4px;
  
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  
    padding: 12px 0;
  
    transition: ease 0.3s;
  }
  
  .links-container .link:hover {
    background: var(--purple);
    color: var(--body-bg-color);
  
    transition: ease 0.5s;
  }
  
  .tree-container .socials-container {
    margin-top: 68px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }
  
  .socials-container .social {
    transform: scale(0.9);
  
    transition: ease 0.2s;
  }
  
  .socials-container .social:hover {
    transform: scale(1);
  }









  
  /*  */
  
  .container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .tree-container {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
  }
  
  .tree-container .avatar {
    width: 213px;
    height: 213px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 1px solid var();
    border-radius: 50%;
  }
  
  
  .tree-container .instagram-user {
    margin-top: 15px;
    color: var(--purple);
  }
  
  .tree-container .links-container {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .links-container .link {
    margin-top: 16px;
    width: 325px;
  
    border: 2px solid var(--purple);
    border-radius: 4px;
  
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  
    padding: 12px 0;
  
    transition: ease 0.3s;
  }
  
  .links-container .link:hover {
    background: var(--purple);
    color: var(--body-bg-color);
  
    transition: ease 0.5s;
  }
  
  
  .socials-container .social {
    transform: scale(0.9);
  
    transition: ease 0.2s;
  }
  
  .socials-container .social:hover {
    transform: scale(1);
  }
  